* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Khand', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  transition: all 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

img {
  width: 100%;
  display: block;
}

.m-2 {
  margin-top: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section {
  padding: 5rem 0;
}

.section-title,
.section-title-error {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin: 4rem auto;
}

.error-page {
  display: flex;
  justify-content: center;
}

.error-container {
  text-align: center;
  text-transform: capitalize;
}
