.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  padding-bottom: 0;
}

.search-form {
  width: 25rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: #1d1d1d80 0 5px 20px;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--mainWhite);
  padding: 0.5rem;
  border-radius: var(--mainBorderRadius);
}

.form-control label {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  font-size: 1.2rem;
  outline: none;
  color: var(--mainBlack);
}

.form-control input::placeholder {
  letter-spacing: 0.1rem;
}

.filter-container {
  width: 15rem;
  box-shadow: #1d1d1d80 0 5px 20px;
  border-radius: var(--mainBorderRadius);
  background: var(--mainWhite);
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: var(--mainWhite);
  z-index: 100;
  transition: transform 0.2s ease-in-out;
  color: var(--white);
  transform: scale(1);
}

.dropdown-btn {
  width: 100%;
  text-align: center;
  border: none;
  border-radius: none;
}

.show-dropdown {
  visibility: visible;
  transform: scale(0);
}

.btn-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
  border: none;
}

.btn-filters svg {
  font-size: 1.2rem;
}

.filter-container p,
.filter-container span {
  margin: 0;
}

@media screen and (max-width: 785px) {
  .search {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .search-form {
    width: 20rem;
  }

  .form-control ::placeholder {
    font-size: 1rem;
  }
}
