.navbar {
  background: var(--mainWhite);
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: var(--lightShadow);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
}

.logo {
  font-family: 'Array', sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
}

.logo span {
  color: var(--primaryColor);
}

.theme {
  font-family: 'Array', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1rem;
  color: var(--primaryColor);
  border: none;
  background: none;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  .logo h1 {
    margin-bottom: 0;
  }

  .logo-title {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }

  .icon svg {
    width: 15px;
    height: 15px;
  }

  .theme {
    font-size: 1rem;
  }
}
