@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
/*
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #b5fe83;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #fce77d;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.1s linear;
  --mainSpacing: 0.1rem;
  --lightShadow: 2px 5px 3px 2px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 95vw;
  --maxWidth: 40rem;
  --fullWidth: 85%;
}

.light-theme {
  --primaryLightColor: #7fc77f;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #fce77d;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainSpacing: 0.1rem;
  --lightShadow: 2px 5px 3px 2px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.dark-theme {
  --primaryLightColor: #7fc77f;
  --primaryColor: #5fd068;
  --primaryDarkColor: #c02c03;
  --mainWhite: #2b3945;
  --offWhite: #fce77d;
  --mainBackground: #202d37;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #f9f9f9;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainSpacing: 0.1rem;
  --lightShadow: #0003 0 15px 20px;
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --white: #fff;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  transition: all 0.3s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

.m-2 {
  margin-top: 2rem;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--mainBlack);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}
/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo-title {
  margin: auto 0;
  font-family: "Italianno", cursive;
  font-size: 2rem;
  color: var(--white);
}
.icon {
  display: flex;
  align-items: center;
  background-color: #476a2e;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}
.icon svg {
  width: 20px;
  height: 20px;
}
.theme {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--white);
}
/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
/* 
====== 
Cocktails List 
======
*/

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.section-title-error {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 4rem;
}
.cocktails-center {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  display: grid;
  row-gap: 2rem;
  column-gap: 3rem;
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
/* 
====== 
Cocktail 
======
*/

.cocktail {
  background: var(--mainWhite);
  margin-bottom: 1rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.cocktail:hover {
  box-shadow: var(--darkShadow);
}
.cocktail img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.cocktail-footer {
  padding: 1rem;
}
.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
  margin-bottom: 0.3rem;
}
.cocktail-footer h3 {
  font-size: 2rem;
}
.cocktail-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
/* 
====== 
Form
======
*/
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  padding-bottom: 0;
}

.search-form {
  width: 25rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: #1d1d1d80 0 5px 20px;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--mainWhite);
  padding: 0.5rem;
  border-radius: var(--mainBorderRadius);
}

.form-control label {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  font-size: 1.2rem;
  outline: none;
  color: var(--mainBlack);
}
.form-control input::placeholder {
  letter-spacing: 0.1rem;
}
.filter-container {
  width: 15rem;
  box-shadow: #1d1d1d80 0 5px 20px;
  border-radius: var(--mainBorderRadius);
  background: var(--mainWhite);
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: var(--mainWhite);
  z-index: 100;
  transition: transform 0.2s ease-in-out;
  color: var(--white);
  transform: scale(1);
}
.dropdown-btn {
  width: 100%;
  text-align: center;
  border: none;
  border-radius: none;
}
.show-dropdown {
  visibility: visible;
  transform: scale(0);
}
.btn-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
  border: none;
}
.btn-filters svg {
  font-size: 1.2rem;
}
.filter-container p {
  margin-bottom: 0;
}
@media screen and (max-width: 785px) {
  .search {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
/* 
====== 
Cocktail
======
*/

.cocktail-section {
  text-align: center;
}
.single-cocktail-link {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin-inline: auto;
  margin-top: 4rem;
  text-align: left;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
}
.drink-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}

/* loader */
.loader,
.loader:before,
.loader:after {
  background: #3a8f6c;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #3a8f6c;
  text-indent: -9999em;
  margin: 140px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@media screen and (max-width: 560px) {
  .search-form {
    width: 20rem;
  }
  .form-control ::placeholder {
    font-size: 1rem;
  }
  .logo h1 {
    margin-bottom: 0;
  }
  .logo-title {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .icon svg {
    width: 15px;
    height: 15px;
  }
  .theme {
    font-size: 1rem;
  }
}
